$num_btns_width:20px;
$mgy: #999a9f;
$white: #fff;

.init_he_num_increment{
  position:relative;width:70px;height:36px;border:solid 1px $mgy;box-sizing:border-box;-moz-box-sizing:border-box;

  label{display:none;}

  input.input-text.qty{
    outline:none;position:absolute;left:0;top:0;bottom:0;margin:auto;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;
    border:none;border-right:solid $num_btns_width transparent;text-align:center;font-size:16px;
  }

  .qty_btns{
    width:$num_btns_width;position:absolute;right:0;top:0;bottom:0;margin:auto;height:100%;background-color:$mgy;

    .up,.down{
      position:absolute;height:50%;width:100%;left:0;cursor:pointer;opacity:1;

      &:hover{opacity:.6;}
    }
    .up:after,.down:after{
      content:"";display:block;position:absolute;margin:auto;left:0;right:0;width:0;height:0;border-style:solid;
    }
    .up{top:0px;
      &:after{bottom:3px;border-width:0 6px 7px 6px;border-color:transparent transparent $white transparent;}
    }
    .down{bottom:0px;
      &:after{top:3px;border-width:7px 6px 0 6px;border-color:$white transparent transparent transparent;}
    }
  }

}
